@media (max-width: 1340px) {
    
}



@media (max-width: 1200px) {
    .title{
        font-size: 28px; // h2
        &_fz44 {
            font-size: 40px; // h1
        }
        &_fz16 { 
            font-size: 16px; // h3
        }
    }
    .footer {
        &__menu {
            max-width: 850px;
            column-gap: 60px;
        }
    }
}



@media (max-width: 992px) {
    .header {
        &__wrapper {
            grid-template-columns: 125px minmax(451px,auto) 125px;
        }
        &__menu, &__registration {
            ul {
                li {
                    padding: 0 15px;
                    a {
                        .text {
                            font-size: 14px;
                        }
                    }
                } 
            }        
        }
        &__registration {
            ul {
                flex-direction: column;
                align-items: end;
            }
        }
    }
    .footer {
        min-height: 300px;
        // padding: 70px 0;
        &__subtitle {
            font-size: 14px;
            padding-bottom: 0;
            text-align: center;
        }
        &__menu {
            max-width: 560px;
            column-gap: 20px;
            text-align: center;
            &-item {
                .list {
                    &__item {
                        margin-top: 10px;
                    }
                }
            }
        }
        &__link {
            font-size: 12px;
            letter-spacing: 0.12px;
        }
    }
}



@media (max-width: 768px) {
    .btn {
        padding: 10px 26px;
        font-size: 20px;
        line-height: 24px;
    }
    .title {
        font-size: 22px; // h2
        &_fz44 {
            font-size: 32px; // h1
        }
        &_fz16 { 
            font-size: 16px; // h3
        }
    }
    .header {
        &__logo {
            &_1 {
                display: none;
            }
            &_2 {
                margin: 17px 0;
                display: flex;
            }
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: fixed;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100vh;
            padding: 20px 15px;
            background-color: rgba(0,0,0, .9);
            transition: 0.6s all;
            &_active{
                left: 0;
            } 
        }
        &__menu {
            
            ul {
                margin-top: 20px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;
            }
        }
        &__registration {
            ul {
                margin-bottom: 100px;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
        }
        &__hamburger {
		display: block;
		position: absolute;
		right: 30px;
		top: 50%;
		transform: translateY(-50%);
		width: 27px;
		height: 12px;
            span {
                display: block;
                height: 2px;
                width: 100%;
                background-color: #fff;
                margin-bottom: 3px;
                transition: 0.5s all;
            }
            &_active {
                span {
                    margin-bottom: -2px;
                    &:nth-child(1) {
                        transform: translateY(3px) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: translateY(3px) rotate(45deg);
                    }
                }
            }  
        }
        &.white {
            .header__link {
                span {
                    color: var(--white, #fff);
                    &:hover {
                        color: var(--white, #fff);
                    }
                    &:after {
                        background: var(--white, #fff);
                    }
                }
                svg {
                    color: var(--white, #fff);
                }
            }
        }
    }
    .footer {
        &__wrapper {
            // justify-content: start;
            // gap: 80px;
            justify-content: space-around;
        }
        &__subtitle {
            text-align: start;
                &:last-child {
                    margin-bottom: 0;
                }
        }
        &__menu {
            // grid-template: repeat(4, 20px) / auto;
            // row-gap: 20px;
            display: flex;
            flex-direction: column;
            align-items: start;
            &-item {
                // display: grid;
                // grid-template-columns: 130px auto;
                // gap: 40px;
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                .list {
                    &__item {
                        &:last-child {
                            margin-bottom: 20px;
                        }
                    }
                    text-align: start;
                    display: none;
                }
                &.active {
                    .list {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .btn {
        padding: 10px 17px;
        font-size: 14px;
        line-height: 18px;
    }
    .title{
        font-size: 20px; // h2
        &_fz44 {
            font-size: 26px; // h1
        }
        &_fz16 { 
            font-size: 14px; // h3
        }
    }
    .text {
        font-size: 14px;
        &_fz12{
            font-size: 12px;
        }
        &_fz14{
            font-size: 12px;
        }
        &_bold20 {
            font-size: 16px;
        }
    }
    .header {
        &__wrapper {
            width: 80%;
        }
    }
    .footer{
        padding: 100px 0;
    }
}